.w500
  .dashboard
    .dashboard_lists
      .dashboard_list
        %span 記事数
        %b= @articles_count
      .dashboard_list
        %span ユーザー数
        %b= @users_count
      .dashboard_list
        %span レビュー数
        %b= @reviews_count
      .dashboard_list
        %span ライク数
        %b= @likes_count
%tbody
  - @articles.each do |article|
    %tr
      %ld= article.title
      %ld=button_to '削除', v1_article_path(article.id), method: :delete
      %br
